.logo {
	 float: left;
}
 nav {
	 float: right;
}
 nav ul {
	 margin: 0;
	 padding: 0;
	 list-style: none;
}
 nav li {
	 display: inline-block;
}
 body {
	 background: #000000;
	 color: #fff;
}
 a {
	 color: #808000
}
 h1 {
	 color: #008080
}
 p {
	 color: #008000
}
 ol {
	 color: #008000
}
.main {
    width: 80%;
    margin: 0 auto; 
    text-align: center; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 

.col-1-2, .col-2-2 {
    width: 250px; 
    height: 250px; 
    margin: 10px; 
}

img {
    width: 100%; 
    height: auto; 
}
